

ul {
  list-style: none;
  padding-left: 20px;
  margin: 0px;
}


.hidden {
  display: none;
}

.dropdown {
  display:inline;
}


.dropdown-menu {
  transform: translateX(-80px);
}
.dropdown-item {
  padding-top: 2px;
  padding-bottom: 2px;
}
.dropdown-header {
  font-weight:900;
  font-size: 1.1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #545b62;
  color: white;
}
.dropdown-depth-1 {
  padding-left: 10px;
}
.dropdown-depth-2 {
  padding-left: 30px;
}

.dropdown-depth-3 {
  padding-left: 50px;
}
